* { 
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9dbde;
}

.instagram-post {
  min-width: 395px;
  width: 395px;
  height: 700px;
  border: 10px solid #333;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
}

.header {
  max-width: 100%;
  height: 54px;
  background: #FFFFFF;
}

.top {
  max-width: 100%;
  height: 54px;
  padding: 12px 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
}

.information{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 14px;
}

.perfil {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #656565;
  text-decoration: none;
}

.localizacao {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #656565;
  text-decoration: none;

}

.see-more {
  height: 3px;
  width: 13px;


}

.content {
  height: 375px;
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.footer {
  width: 375px;
  height: 72px;
  background: #FFFFFF;

  padding: 14.54px;
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visialization {

  display: flex;
  justify-content: flex-start;
  align-items: center;
}